@media print {
	.print {
		display: block !important;
	}
	.print-none {
		display: none !important;
	}
	body, #message {
		font-size: 10px;
	}
	#notes {
		page-break-after: always;
	}
	#subject-table {
	  clear: both;
	  width: 100%;
	}
	#left {
		width: 100%;
	}
	/* Set default button background color to white (print friendly) */
	.question label, #eng-options label{
		background-color: #FFF;
	}
	/* Apply border when selected */
	.question label.true, .question button.true, #eng-options .selected-eng {
	    border: solid 1px #000;
	    background-color: #FFF;
	}
	#eng-options {
		margin-bottom: 0px;
	}
	#eng-options label {
		display: inline-block;
		float: none;
		width: auto;
		height: auto;
	}
	.header-box {
		background-color: #e3e3e3;
		color: #000;
		font-size: 13px;
		font-weight: bold;
		/* Enable background color printing */
		-webkit-print-color-adjust: exact !important;
		color-adjust: exact !important; 
	}
	.empty-place-holder.column-1, .empty-place-holder.column-2 {
		background-color: #e3e3e3;
		height: 93%;
		/* Enable background color printing */
		-webkit-print-color-adjust: exact !important;
		color-adjust: exact !important; 
		/*border: solid 1px #4C4C55;*/
	}
	.key-selected, .true.subject-button, .long-place-holder {
		border: solid 1px #000;
		height: 93%;
		background-color: #FFF;
	}
	.false.subject-button {
		border: dotted 1px #878787;
		height: 93%;
		background-color: #FFF;
		color: #878787;
	}
	.long-place-holder {
		border-radius: 6px;
	}
	.key-overflow, .overflow.subject-button {
		background-color: #878787 !important;
		color: #FFF;
		/* Enable background color printing */
		-webkit-print-color-adjust: exact !important;
		color-adjust: exact !important; 
	}
	#final {
		margin-top: 100px;
	}
}
