.default {
    background-color: #D1D3D4;
}

.overflow {
    background-color: #E71D1D;
}

.added-subject {
    background-color: #4BA14B;
}

.possible-eng {
    background-color: #4BA14B;
}

.selected-eng {
    background-color: #288128;
}

/*temporary table formatting*/
.table-row, .header-row {
    display: block;
    width: 100%;
}

.place-holder {
    display: inline-block;
    background-color: black;
    margin: 5px;
    padding: 10px;
    width: 30%;
}

.subject-button {
    display: inline-block;
    margin: 5px;
    background-color: grey;
    border: none;
    padding: 10px;
}

.header-box {
    margin: 5px;
    width: 30%;
    display: inline-block;
    background-color: #7473A9;
    padding: 10px;
}

