/* engineering list */

body {
    font-family: geneva, arial, helvetica, sans-serif;
}

.eng-options {
    float: left;
}

.eng-options label {
    display: block;
}

.possible-eng {
    color: #A09FC7;
}

.selected-eng {
    color: #7473A9;
}


/* subject table */
#subject-table {
    float: right;
    width: 600px;
}

.header-row {
    background-color: #D1D3D4;
}

.header-box {
    display: inline-block;
    background-color: #7473A9;
    text-align: center;
    width: 30%;
    color: white;
}


.default-row {
    background-color: #A09FC7;
}

.table-row {
    background-color: #D1D3D4;
}


.true, .place-holder, .subject-button {
    vertical-align: top;
    border: 1px solid black;
    display: inline-block;
    padding: 10px;
    font-size: 12px;
    text-align: center;
}

label.true.place-holder {
    width: 30%;
}

.subject-button {
    width: 33%;
}

.real-place-holder {
    background-color: black;
    width: 33%;
    display: inline-block;
}

.true {
    background-color: #D1D3D4;
}

.false {
    background-color: #FFFFFF;
}

.overflow {
    background-color: #FFD658;
}

