html {
	background-color: white;
	font-family: "Arial";
	margin: 20px;
}


label {
    display: block;
    margin-top: 10px;
}


h5 {
	float: left;
	width: 33%;
}

#wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}


#semester_one, #semester_two, #summer {
	float: left;
	width: 33%;
}

#semester_one_total, #semester_two_total, #summer_total {
	float: left;
	width: 33%;
}